<!doctype html>
<html>
<head>
      <title>Meadowlark Travel</title>
</head>
      <body>
            <header>
              <img src="image/jlx.png" alt="jlx"">
            </header>
              {{{body}}}
      </body>
</html>
